* {
  box-sizing: border-box;
}

.container {
  float: left;
  width: 50%;
}

.square {
  width: 100px;
  height: 100px;
}

section {
  background: aquamarine;
  padding: 16px;
}

footer {
  height: 30px;
  border: 2px solid black;
  clear: both;
}

.red {
  float: right;
  background-color: red;
}

.green {
  float: left;
  background-color: green;
}
