* {
  box-sizing: border-box;
}

.header {
  background-color: darkturquoise;
  width: 100%;
  height: 40px;
  position: fixed;
  margin-top: 0%;
  z-index: 1;
}

.navigation {
  height: 40px;
}

.nav-list {
  margin-left: 16px;
  color: white;
  list-style-type: none;
}

.nav-item {
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  line-height: 8px;
  margin-right: 16px;
}

.content {
  background-color: beige;
  height: 5000px;
  z-index: 2;
}

.head {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  position: absolute;
}

.ear {
  background-color: brown;
  width: 40px;
  height: 60px;
}

.ear_right {
  position: absolute;
  top: -60px;
  right: -40px;
}
.ear_left {
  position: absolute;
  top: -60px;
  left: -40px;
}

.eye {
  background-color: grey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.eye_right {
  position: absolute;
  right: 40px;
  top: 80px;
}
.eye_left {
  position: absolute;
  left: 40px;
  top: 80px;
}
